**/build
**/bin
**/.idea
**/gen
**/.gradle
*.*~
.classpath
.project
/bin/
**/*.aux
**/*.dvi
**/*.synctex.gz
**/*-eps-converted-to.pdf
NetworkParserAnt.jar
gradle.properties
*.gpg
node_modules/
package-lock.json
out/
NetworkParser.iml
