* text=auto !eol
/.classpath -text svneol=unset#text/plain
/.project -text svneol=unset#text/plain
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
/build.fxbuild -text
src/de/uniks/jism/gui/Os.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/OutPutStream.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/TableList.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/TableListCreator.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/Brush.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushAS3.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushAppleScript.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushBash.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushCSharp.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushColdFusion.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushCpp.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushCss.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushDelphi.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushDiff.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushErlang.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushGroovy.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushJScript.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushJava.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushJavaFX.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushPerl.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushPhp.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushPlain.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushPowerShell.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushPython.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushRuby.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushSass.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushScala.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushSql.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushVb.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/BrushXml.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/HTMLRegExRule.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/RegExRule.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/brush/RegExpRule.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/StyleConstants.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/Theme.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/ThemeDefault.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/ThemeDjango.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/ThemeEclipse.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/ThemeEmacs.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/ThemeFadeToGrey.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/ThemeMDUltra.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/ThemeMidnight.java -text svneol=unset#text/plain
src/de/uniks/jism/gui/theme/ThemeRDark.java -text svneol=unset#text/plain
