* text=auto !eol
/.classpath -text svneol=unset#text/plain
/.project -text svneol=unset#text/plain
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
/build.fxbuild -text
old/de/uniks/jism/gui/GUIPosition.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/Os.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/OutPutStream.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/TableList.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/TableListCreator.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/TableListFX.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/Brush.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushAS3.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushAppleScript.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushBash.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushCSharp.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushColdFusion.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushCpp.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushCss.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushDelphi.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushDiff.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushErlang.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushGroovy.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushJScript.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushJava.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushJavaFX.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushPerl.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushPhp.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushPlain.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushPowerShell.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushPython.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushRuby.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushSass.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushScala.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushSql.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushVb.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/BrushXml.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/HTMLRegExRule.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/RegExRule.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/brush/RegExpRule.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/table/TableComponent.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/table/UpdateSearchList.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/StyleConstants.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/Theme.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/ThemeDefault.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/ThemeDjango.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/ThemeEclipse.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/ThemeEmacs.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/ThemeFadeToGrey.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/ThemeMDUltra.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/ThemeMidnight.java -text svneol=unset#text/plain
old/de/uniks/jism/gui/theme/ThemeRDark.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/GUIPosition.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/Os.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/OutPutStream.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/TableList.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/TableListCreator.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/TableListFX.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/Brush.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushAS3.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushAppleScript.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushBash.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushCSharp.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushColdFusion.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushCpp.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushCss.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushDelphi.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushDiff.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushErlang.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushGroovy.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushJScript.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushJava.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushJavaFX.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushPerl.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushPhp.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushPlain.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushPowerShell.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushPython.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushRuby.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushSass.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushScala.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushSql.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushVb.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/BrushXml.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/HTMLRegExRule.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/RegExRule.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/brush/RegExpRule.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/grid/FXStyle.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/table/TableComponent.java -text svneol=unset#text/plain
src/de/uniks/networkparser/gui/table/UpdateSearchList.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/ColorSWT.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/ControlListener.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/GUIElement.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/MasterShell.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/OutPutStream.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/TableList.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/UpdateGUI.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/entry/EntryEditor.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/entry/EntryTreeItem.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/form/LabelPosition.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/form/ModelForm.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/form/PropertyComposite.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/layout/AWTLayout.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/layout/BorderLayout.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/Column.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/ColumnNotification.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/ColumnView.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/ColumnViewerSorter.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/CompleteField.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/SearchTableComponent.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/Sorter.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/TableCellEditingSupport.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/TableCellMenuItem.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/TableColumnLabelProvider.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/TableColumnView.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/TableComponent.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/TableFilterView.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/TableLabelProvider.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/TableSyncronizer.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/TableViewerComponent.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/UpdateGUIThread.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/UpdateSearchList.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/celledit/CellEditorElement.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/celledit/EditField.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/celledit/EditFields.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/celledit/JISMCellEditor.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/celledit/RestoreContentFocusAdapter.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/controls/CheckBoxEditControl.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/controls/ComboEditControl.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/controls/DateTimeEditControl.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/controls/EditControl.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/controls/NumberEditControl.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/controls/PasswordEditorControl.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/controls/SpinnerEditControl.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/controls/TextEditorControl.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/creator/ColumnCreator.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/table/creator/ColumnListCreator.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/text/MenueItem.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/text/ParsePosition.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/text/SWTEventListener.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/text/SWTStyle.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/text/TextComponent.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/text/TextParser.java -text svneol=unset#text/plain
swt/de/uniks/jism/gui/text/TextView.java -text svneol=unset#text/plain
test/de/uniks/jism/gui/test/TestApp.java -text svneol=unset#text/plain
